
 nav{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  top: 0px;
  
  height: 120px; 
  width: 100%;
  color: #FFFFFF;
  background-color: transparent;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-shadow: 2px 2px 2px black;
}

.navright{
  display: flex;
  text-align: center;
  flex-direction: column;
  
}
.fa-solid.fa-angles-down{
color: rgb(255, 51, 160);

}
.fa-solid.fa-angles-down:hover{
  color: rgb(246, 249, 31);
  
  }

.logo{
  font-family: 'Bungee', sans-serif;
}